<header class="main-header">
    <div class="header-left">
        易格管理端
    </div>
    <div class="header-right">
        <button id="loginOut" class="btn btn-danger size-L radius f-18" type="button">登出</button>
    </div>
</header>

