<style>
    nav{
        position: absolute;
        top:60px;
        left: 0;
        height: 100%;
        background: #00B38A;

    }
    #navBar{
        color: #ffffff;
        font-size: 20px;
        width: 160px;
        height: 100%;
    }
    nav a{
        display: block;
        color: #ffffff;
        padding-left: 30px;
        height: 58px;
        line-height: 58px;
    }
    nav a:hover{
        text-decoration: none;
        font-size: 26px;
        color: #ffffff;
    }
    #navBar li{
       border-bottom: 1px solid #ffffff;
    }
</style>
<nav>
    <ul id="navBar">
        <li><a href="/">首页</a></li>
        <li><a href="/job">职位库</a></li>
        <li><a href="/cvData">简历库</a> </li>
        <li><a href="/company">企业管理</a></li>
        <li><a href="/govAndSch">政府/学校</a></li>
    </ul>
</nav>