<input type="hidden" class="activePage" value="<%=activePage%>"/>
<nav id="nav-wrapper">
    <ul class="nav-link-list">
        <li><a class="nav-link" href="/"><i class="icon-home"></i>首页</a></li>
        <li><a class="nav-link" href="/jobs"><i class="icon-job"></i>职位库</a></li>
        <li><a class="nav-link" href="/resume"><i class="icon-resume"></i>简历库</a> </li>
        <li><a class="nav-link" href="/company"><i class="icon-company"></i>企业管理</a></li>
        <li><a class="nav-link" href="/thirdParty"><i class="icon-thirdparty"></i>政府/学校</a></li>
    </ul>
</nav>