<input type="hidden" class="activePage" value="<%=activePage%>"/>
<nav id="nav-wrapper">
    <ul class="layui-nav layui-nav-tree" lay-filter="demo">
        <li class="layui-nav-item"><a href="/home.html" class="nav-item">首页</a></li>
        <li class="layui-nav-item layui-nav-itemed">
            <a href="javascript:;">档案信息库</a>
            <dl class="layui-nav-child">
                <dd><a class="nav-item" href="/jobList.html">职位信息库</a></dd>
                <dd><a class="nav-item" href="/companyList.html">企业信息库</a></dd>
                <dd><a class="nav-item" href="/resumeList.html">简历信息库</a></dd>
                <dd><a class="nav-item" href="/thirdPartyList.html">第三方信息库</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">添加信息操作</a>
            <dl class="layui-nav-child">
                <dd><a class="nav-item" href="/addJob.html">新增职位</a></dd>
                <dd><a class="nav-item" href="javascript:;">新增企业</a></dd>
                <dd><a class="nav-item" href="javascript:;">新增简历</a></dd>
                <dd><a class="nav-item" href="javascript:;">新增第三方</a></dd>
            </dl>
        </li>
    </ul>
</nav>