/*新增数据统计*/
.newList{
    display: flex;
    padding: 30px 20px;
}
.newItem{
    flex: 1;
    display: flex;
    min-width: 260px;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    height: 90px;
    margin-left: 20px;
    box-shadow:0 1px 1px rgba(0,0,0,0.1);
}
.newItem:nth-child(1){
    margin-left: 0;
}
.item-left{
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-right{
    flex: 1;
}
.item-title{
    padding: 8px 10px 6px;
}
.item-content{
    padding: 0 10px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
}
/*注册用户总数*/
.totalCount{
    text-align: center;
    font-size: 86px;
    color: #222d32;
}
/*区域统计*/
#rangeStatistic{
    width: 100%;
    height: 800px;
}
/*功能使用情况统计*/
#functionUseAnalysis{
    flex: 1;
    height: 600px;
}
#register{
    flex: 1;
}
#register table{
    width: 100%;
    height: 600px;
    text-align: center;
}
#register tbody{
    height: 600px;
    overflow: auto;
}
#register table th{
    height: 40px;
    line-height: 40px;
}
#register table td{
    height: 30px;
    line-height: 30px;
}