<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>投诉管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%- include ../publicPages/css_content.ejs%>
    <link rel='stylesheet' href='/stylesheets/dailyManage/complaintManage.css' >
</head>
<body>
<!--头部区域-->
<%- include ../publicPages/header.ejs %>
<!--主体区域-->
<div id="main-body">
    <!--导航栏-->
    <%- include ../publicPages/nav.ejs %>
    <!--文本区域-->
    <div id="content-wrapper">
        <div class="breadcrumb-wrapper">
            <span class="layui-breadcrumb"><a href="javascript:void(0)"><cite>易格管理端</cite></a><a href="javascript:void(0)"><cite>投诉管理</cite></a></span>
        </div>
        <form id="complaint-filter" class="layui-form">
            <input type="hidden" name="pageNo" value="1"/>
            <input type="hidden" name="status" value="0"/>
            <div class="layui-form-item">
                <label class="layui-form-label">投诉方</label>
                <div class="layui-input-inline">
                    <input type="text" name="complaintName" autocomplete="off" placeholder="请输入投诉方名称" class="layui-input"/>
                </div>
                <div class="layui-input-inline">
                    <button type="button" id="search" class="layui-btn">查询</button>
                </div>
            </div>
        </form>
        <div id="complaintManage-wrapper" class="layui-tab layui-tab-brief" lay-filter="complaintTab">
            <ul class="layui-tab-title">
                <li class="layui-this">待处理</li>
                <li>已处理</li>
            </ul>
            <div class="layui-tab-content" style="height: 600px;">
                <div class="layui-tab-item layui-show">
                    <table id="table-status-0" class="layui-table" lay-even="" lay-skin="row">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>投诉方</th>
                            <th>被投诉方</th>
                            <th>投诉内容</th>
                            <th>投诉时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div id="page-wrapper"></div>
                </div>
                <div class="layui-tab-item">
                    <table id="table-status-1" class="layui-table" lay-even="" lay-skin="row">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>投诉方</th>
                            <th>被投诉方</th>
                            <th>投诉内容</th>
                            <th>投诉时间</th>
                            <th>处理结果</th>
                            <th>状态</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div id="page-wrapper"></div>
                </div>
            </div>
        </div>
        <!--处理按钮弹出层-->
        <template id="complaintHandleHtml">
            <form class="layui-form" id="complaint-handle-form" style="width: 300px;margin: 20px auto;">
                <input type="hidden" name="complaintId" value=""/>
                <div class="layui-form-item">
                    <label class="layui-form-label">处理说明</label>
                    <div class="layui-input-block">
                        <textarea  name='handleResult' placeholder="请输入内容" class="layui-textarea" value="rewrewrwer"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="button" class="layui-btn btn-complaintHandle-post" >提交</button>
                    </div>
                </div>
            </form>
        </template>
    </div>
</div>
</body>
<!--JS-->
<%- include ../publicPages/script_content.ejs %>
<script src="/javascripts/dailyManage/complaintManage.js"></script>
</html>
