<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>会员管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%- include ../publicPages/css_content.ejs%>
    <link rel='stylesheet' href='/stylesheets/dailyManage/memberManage.css' >
</head>
<body>
<!--头部区域-->
<%- include ../publicPages/header.ejs %>
<!--主体区域-->
<div id="main-body">
    <!--导航栏-->
    <%- include ../publicPages/nav.ejs %>
    <!--文本区域-->
    <div id="content-wrapper">
        <div class="breadcrumb-wrapper">
            <span class="layui-breadcrumb"><a href="javascript:void(0)"><cite>易格管理端</cite></a><a href="javascript:void(0)"><cite>消息管理</cite></a></span>
        </div>
        <form id="message-filter" class="layui-form">
            <input type="hidden" name="pageNo" value="1"/>
            <input type="hidden" name="type" value="1"/>
            <div class="layui-form-item">
                <label class="layui-form-label">企业名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="memberName" autocomplete="off" placeholder="请输入企业名称" class="layui-input"/>
                </div>
                <div class="layui-input-inline">
                    <button type="button" id="search" class="layui-btn">查询</button>
                </div>
            </div>
        </form>
        <div id="messageManage-wrapper" class="layui-tab layui-tab-brief" lay-filter="messageTab">
            <ul class="layui-tab-title">
                <li class="layui-this">会员列表</li>
                <li>推送记录</li>
            </ul>
            <div class="layui-tab-content" style="height: 600px;">
                <div class="layui-tab-item layui-show">
                    <table id="table-status-0" class="layui-table" lay-even="" lay-skin="row">
                        <thead>
                        <tr>
                            <th>编号</th>
                            <th>企业名称</th>
                            <th>到期时间</th>
                            <th>最近一次活跃时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div id="page-wrapper"></div>
                </div>
                <div class="layui-tab-item">
                    <table id="table-status-1" class="layui-table" lay-even="" lay-skin="row">
                        <thead>
                        <tr>
                            <th>编号</th>
                            <th>企业名称</th>
                            <th>推送时间</th>
                            <th>推送类型</th>
                            <th>推送内容</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div id="page-wrapper"></div>
                </div>
            </div>
        </div>
        <!--处理按钮弹出层-->
        <template id="messageHandleHtml">
            <form class="layui-form" id="message-handle-form" style="width: 400px;margin: 20px auto;">
                <input type="hidden" name="messageId" value=""/>
                <div class="layui-form-item">
                    <label class="layui-form-label">操作</label>
                    <div class="layui-input-block">
                        <input type="radio" name="status" value="1" title="通过"/>
                        <input type="radio" name="status" value="2" title="不通过"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-block">
                        <textarea  name='remark' placeholder="请输入内容" class="layui-textarea" value=""></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="button" class="layui-btn btn-messageHandle-post" >提交</button>
                    </div>
                </div>
            </form>
        </template>
    </div>
</div>
</body>
<!--JS-->
<%- include ../publicPages/script_content.ejs %>
<script src="/javascripts/dailyManage/memberManage.js"></script>
</html>
