<!DOCTYPE html>
<html>
<head>
    <title>公司详情</title>
    <link rel="stylesheet" href="/stylesheets/H-ui.reset.css">
    <link rel="stylesheet" href="/stylesheets/companyDetail.css">
</head>
<body>
    <div id="topInfo">
        <div id="topInfoContent">
            <div>
                <div class="companyName">
                    <span>腾展叮咚(Dingtone)</span>
                </div>
                <p>全球最大的OTT虚拟运营商，腾展科技已挂牌新三板，2015年营收增长400%，净利润增长1300%。</p>
                <ul>
                    <li>
                        <strong>20个</strong>
                        <span>招聘职位</span>
                    </li>
                    <li>
                        <strong>96%</strong>
                        <span>简历及时处理率</span>
                    </li>
                    <li>
                        <strong>1天</strong>
                        <span>简历处理用时</span>
                    </li>
                    <li>
                        <strong>123个</strong>
                        <span>面试评价</span>
                    </li>
                    <li>
                        <strong>今天</strong>
                        <span>企业最近登录</span>
                    </li>
                </ul>
            </div>
            <img src="/images/testSmall.png" height="164" width="164"/>
        </div>
    </div>
</body>
</html>