<!DOCTYPE html>
<html>
<head>
    <title>首页</title>
    <link rel="stylesheet" href="/stylesheets/H-ui.reset.css">
    <link rel='stylesheet' href='/stylesheets/index.css'>
</head>
<style>
    #content_index {
        background: #F4F8FB;
    }
</style>
<body>
<%- include publicPages/header.ejs %>
<article>
    <%- include publicPages/nav.ejs %>
    <div id="content_index">
        <ul id="newInfo" class="clearfix">
            <li class="newUserNum">
                <div>
                    <img src="/images/jobSeeker.png" width="20" height="50"/>
                </div>
            </li>
            <li class="newCompanyNum">
                <div></div>
            </li>
            <li class="newCvData">
                <div></div>
            </li>
            <li class="newThirdParty">
                <div>
            </li>
        </ul>
        <%- include publicPages/chinaMap.ejs%>
    </div>
</article>
</body>
<script>
    $(function () {
        $//设置内容区域的高度
        $("#content_index").height($(window).height() - 60);
        $(window).on("resize", function () {
            $("#content_index").height($(window).height() - 60);
        });
    });
</script>
</html>
