<!DOCTYPE html>
<html>
<head>
    <title>登录</title>
    <link rel="stylesheet" href="/stylesheets/H-ui.reset.css">
    <link rel="stylesheet" href="/stylesheets/H-ui.min.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
<header>易格管理系统</header>
<div id="content" class="panel panel-default">
    <div class="panel-header">登录</div>
    <div class="panel-body">
        <form id="login" class="form form-horizontal" method="post" onsubmit="return false">
            <div class="row cl">
                <label class="col-md-3 form-label f-20 ">用户名：</label>
                <div class="col-md-6 formControls">
                    <input type="text" name="userName" class="input-text radius size-M"/>
                    <span id="errorText1">*用户名不能为空</span>
                </div>
            </div>
            <div class="row cl">
                <label class="col-md-3 form-label f-20">密码：</label>
                <div class="col-md-6 formControls">
                    <input type="password" name="password" class="input-text radius size-M"/>
                    <span id="errorText2">*密码不能为空！</span>
                </div>
            </div>
            <div class="row cl">
                <div class="col-md-6 col-offset-3">
                    <input id="loginBtn" type="submit" value="登录" class="btn btn-secondary size-L radius f-18"/>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script>
    $(function () {
       $("#loginBtn").on("click",function () {
           var isPost=true;
            var name=$("#login").get(0).userName.value;
            var password=$("#login").get(0).password.value;
           if(name==""){
              $("#errorText1").show();
               isPost=false;
           }
           if(password==""){
               $("#errorText2").show();
               isPost=false;
           }
           if(isPost){
              $.post("/login",$("#login").serialize(),function (data,textStatus) {
//                      location.href="/";
                  if(data.status=="success"){
                      location.href="/";
                  }else{
                      alert(data.data);
                  }
              });
           }
       });
        $("input[name=userName]").on("focus",function () {
            $("#errorText1").hide();
        });
        $("input[name=password]").on("focus",function () {
            $("#errorText2").hide();
        });

    });
</script>