<!DOCTYPE html>
<html>
<head>
    <title>上传图片</title>
    <link rel="stylesheet" href="/stylesheets/uploadImage.css">
</head>
<style>
    #content_company{
        background:#F4F8FB;
    }
</style>
<body>
<%- include publicPages/header.ejs%>
<article>
    <%-include publicPages/nav.ejs %>
    <div id="content_uploadImage">
        <div id="uploadArea">

        </div>
        <button class="btn btn-secondary radius" id="addFile">添加图片</button>
        <button class="btn btn-success radius" id="uploadFile">上传图片</button>
    </div>
</article>
</body>
</html>
<script src="/javascripts/plupload.full.min.js"></script>
<script>
    //设置内容区域的高度
    $("#content_uploadImage").height($(window).height()-60);
    $(window).on("resize",function () {
        $("#content_uploadImage").height($(window).height()-60);
    });
    $("#fileSelector").on("change",function (e) {
       var files= e.target.files||e.dataTransfer.files;
       console.log(files);
        if(window.FileReader){
            var reader=new FileReader();
            reader.onload=function (e) {
                $("#imageView").append("<img src='"+e.target.result+"' width='60px' height='60px'/>")
            }
            reader.readAsDataURL(files[0]);
        }
    });
    bindUpload("addFile","/uploadImage/ajaxImage","uploadArea");
    function bindUpload(id,url,dragArea) {
        var base_config={
            runtimes: 'html5,flash,silverlight,html4',//上传插件初始化选用那种方式的优先级顺序，如果第一个初始化失败就走第二个，以此类推
            url:url,//上传图片的地址
            max_file_size:'10mb',//上传文件的最大的长度
            chunk_size:'5mb',//当上传文件大于服务器接收文件大小限制的时候，可以分多次请求发给服务器
            filters:[
                {title: "Image files", extensions: "jpg,png,jpeg,gif"}
            ],
            rename:false,//是否重命名
            drop_element:dragArea
        }
        var config=$.extend(true,{},base_config,{
            browse_button:id,
            init:{
                FilesAdded:function (uploader,files) {
                    uploader.start();
                },
                FileUploaded:function (uploader,files,result) {

                }
            }
        });
        window._uploader=new plupload.Uploader(config);
        window._uploader.init();
    }
</script>