<!DOCTYPE html>
<html>
<head>
    <title>上传图片</title>
    <link rel="stylesheet" href="/stylesheets/uploadImage.css">
    <link rel="stylesheet" href="/stylesheets/fresco/fresco.css">
</head>
<style>
    #content_company{
        background:#F4F8FB;
    }
</style>
<body>
<%- include publicPages/header.ejs%>
<article>
    <%-include publicPages/nav.ejs %>
    <div id="content_uploadImage">
        <ul id="uploadArea">
            <li class="tips">
                <img src="/images/addFileInfo.png" alt="tipImage" width="120px" height="120px"/>
                <br>
                <span>拖动图片到此处</span>
            </li>
        </ul>
        <button class="btn btn-secondary radius" id="addFile">添加图片</button>
        <button class="btn btn-success radius" id="uploadFile">上传图片</button>
        <ul class="img_Content">
            <%for(var i=0;i<urlData.length;i++){%>
            <li class="img_ContentItem">
                <a href="<%=urlData[i].url%>" class='fresco'
                   data-fresco-group='example'><img src="<%=urlData[i].url%>" height="120px"/></a>
                <div class="copy">复制</div>
            </li>
            <%}%>
        </ul>
    </div>
</article>
</body>
</html>
<script src="/plugin/fresco/fresco.js"></script>
<script src="/javascripts/plupload.full.min.js"></script>
<script src="/javascripts/uploadImage/uploadImage.js"></script>