<!DOCTYPE html>
<html>
<head>
    <title>首页</title>
    <%- include ../publicPages/css_content.ejs %>
    <link rel='stylesheet' href='/stylesheets/index.css'>
</head>
<body>
<!--头部区域-->
<%- include ../publicPages/header.ejs %>
<!--主体区域-->
<div id="main-body">
    <!--导航栏-->
    <%- include ../publicPages/nav.ejs %>
    <!--文本区域-->
    <div id="content-wrapper">

    </div>
</div>
</body>
<!--JS-->
<%- include ../publicPages/script_content.ejs %>
<script src="/javascripts/echarts.js"></script>
<script>
    $(function () {
//新增数量走势图
        var numTredChart=echarts.init(document.getElementById("numTredChart"));
        var option_numTredChart = {
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['求职者','招聘方','简历','第三方']
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : ['周一','周二','周三','周四','周五','周六','周日']
                }
            ],
            yAxis : [
                {
                    type : 'value'
                }
            ],
            series : [
                {
                    name:'求职者',
                    type:'line',
                    stack: '总量',
                    areaStyle: {normal: {}},
                    data:[120, 132, 101, 134, 90, 230, 210]
                },
                {
                    name:'招聘方',
                    type:'line',
                    stack: '总量',
                    areaStyle: {normal: {}},
                    data:[220, 182, 191, 234, 290, 330, 310]
                },
                {
                    name:'简历',
                    type:'line',
                    stack: '总量',
                    areaStyle: {normal: {}},
                    data:[150, 232, 201, 154, 190, 330, 410]
                },
                {
                    name:'第三方',
                    type:'line',
                    stack: '总量',
                    areaStyle: {normal: {}},
                    data:[320, 332, 301, 334, 390, 330, 320]
                },

            ]
        };
        numTredChart.setOption(option_numTredChart);
//转化率
        var interviewRate=echarts.init(document.getElementById("interviewRate"));
        var option_interviewRate={
            tooltip : {
                formatter: "{a} <br/>{b} : {c}%"
            },
            toolbox: {
                feature: {
                    restore: {},
                    saveAsImage: {}
                }
            },
            series: [
                {
                    name: '业务指标',
                    type: 'gauge',
                    detail: {formatter:'{value}%'},
                    data: [{value: 50}]
                }
            ]
        };
        interviewRate.setOption(option_interviewRate);
    });
</script>
</html>
