#topInfo{
    background: #ebf0ef;
    padding: 30px 0;
}
#topInfoContent{
    position: relative;
    background: #FFFFFF;
    width: 1026px;
    height:166px;
    margin: 0 auto;
    padding-left: 180px;
}
#topInfoContent img{
    position: absolute;
    top: 0;
    left: 0;
}
.companyName{

}
#topInfoContent ul li{
    float: left;
}