body,article{
    height: 100%;
    overflow: hidden;
}
li{
    padding: 0;
}
#navBar li:nth-child(3) a{
    color: #000000;
    background: #FFFFFF;
}
.active{
    color: white;
    background: #00B38A;
}
#content_cvData{
    background:#F4F8FB;
    text-align: center;
    margin-left: 160px;
    overflow: scroll;
    margin-top: 60px;
}
#searchCvData{
    padding-top:60px;
    height: 120px;
    text-align: center;
}
#searchCvData input[type=text]{
    border: 2px solid #00BCD5;
    width: 480px;
    height: 30px;
    padding: 4px 10px;
    font-size: 16px;
}
#searchCvData input[type=button]{
    color: white;
    border-radius: 6px;
    background: #00BCD5;
}
#filterHeader{
    margin: 0 auto;
    width: 1000px;
    border: 1px solid #FAFAFA;
}
#filterHeader li{
    border-bottom: 1px solid #FFFFFF;
}
.filterItem{
    background: #FAFAFA;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    padding-left: 30px;
    text-align: left;
}
.filterItem span{
    padding: 4px 6px;
}

.filterItem i{
    background: #FFFFFF;
    padding: 2px 4px;
    margin-right: 6px;
}
.filterItem span:hover,#district span:hover{
    color: white;
    background: #00B38A;
    cursor: pointer;
}
#district{
    background: #FFFFFF;
    font-size: 16px;
    padding-left: 46px;
    text-align: left;
    display: none;
}
#district span{
    padding: 4px 6px;
}
#filterFoot {
    width: 1000px;
    margin: 30px auto 0;
}
#filterFoot label{
    font-weight: normal;
}
#jobFromFilter{
    width: 1000px;
    margin: 0 auto;
}
.cvDataItem{
    position: relative;
    background: #FFFFFF;
    border: 1px solid #ededed;
    margin-top: 14px;
    text-align: left;
    padding: 10px 0 0;
    font-size: 14px;
    color: #555555;
}
.photo{
    position: absolute;
    top:4px;
    left:8px;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: 1px solid #EDEDED;
}
.name{
    position: absolute;
    top:0px;
    left:138px;
    font-size: 18px;
}
.salary{
    position: absolute;
    top:16px;
    left:138px;
    color:#fd5f39;
    font-size: 18px;
}
.topItem{
    position: relative;
    text-align: right;
    padding: 0 16px 0 0;
}
.middleItem{
    position: relative;
    text-align: right;
    padding: 18px 16px 18px 0;
    font-size: 16px;
}
.bottomItem{
    margin-left: 138px;
    text-align: right;
    background: #fafafa;
    color: #666;
    line-height: 38px;
    padding-right: 16px;
    font-size: 16px;
}
.logo-city{
    background: url("/images/companylogo2.png") no-repeat;
    background-size: 18px 18px;
    padding-left: 20px;
}
.logo-jobExperienceLogo{
    background: url("/images/jobExperienceLogo.png") no-repeat;
    background-size: 18px 18px;
    padding-left: 20px;
}
.logo-education{
    background: url("/images/educationLogo.png") no-repeat;
    background-size: 18px 18px;
    padding-left: 20px;
}
.logo-abilityTest{
    background: url("/images/abilityTestLogo.png") no-repeat;
    background-size: 18px 18px;
    padding-left: 20px;
}
.left-10{
    margin-left: 10px;
}
.sex{
    width: 20px;
    height: 20px;
    margin-left: 8px;
}
