header{
    font-size: 22px;
    height: 52px;
    line-height: 52px;
    color:#FFFFFF;
    background-color: #393D49;
    text-align: center;
}
#form-login{
    width: 600px;
    margin: 20px auto;
}
.btn-login{
    margin-right: 40px;
    width: 80px;
}
#forget{
    vertical-align: -6px;
}