<!DOCTYPE html>
<html>
<head>
    <title>首页</title>
    <%- include ../publicPages/css_content.ejs %>
    <link rel='stylesheet' href='/stylesheets/index.css'>
</head>
<body>
<!--头部区域-->
<%- include ../publicPages/header.ejs %>
<!--主体区域-->
<div id="main-body">
    <!--导航栏-->
    <%- include ../publicPages/nav.ejs %>
    <!--文本区域-->
    <div id="content-wrapper">

    </div>
</div>
</body>
<!--JS-->
<%- include ../publicPages/script_content.ejs %>
<script src="/javascripts/echarts.js"></script>
</html>
