<!DOCTYPE html>
<html>
<head>
    <title>首页</title>
    <%- include ../publicPages/css_content.ejs %>
    <link rel='stylesheet' href='/stylesheets/home/home.css'>
</head>
<body>
<!--头部区域-->
<%- include ../publicPages/header.ejs %>
<!--主体区域-->
<div id="main-body">
    <!--导航栏-->
    <%- include ../publicPages/nav.ejs %>
    <!--文本区域-->
    <div id="content-wrapper">
        <!--新增数据统计-->
        <div class="newList">
            <div class="newItem">
                <div class="item-left" style="background-color:#00c0ef">
                <img src="/images/icon-company.png" width="37" height="33.3"/>
                </div>
                <div class="item-right">
                    <p class="item-title">新增企业用户</p>
                    <p class="item-content">156</p>
                </div>
            </div>
            <div class="newItem">
                <div class="item-left" style="background-color:#dd4b39 ">
                    <img src="/images/icon-jobSeeker.png" width="40" height="40"/>
                </div>
                <div class="item-right">
                    <p class="item-title">新增求职用户</p>
                    <p class="item-content">2708</p>
                </div>
            </div>
            <div class="newItem">
                <div class="item-left" style="background-color:#00a65a">
                    <img src="/images/icon-resume.png" width="40" height="40"/>
                </div>
                <div class="item-right">
                    <p class="item-title">新增简历</p>
                    <p class="item-content">890</p>
                </div>
            </div>
            <div class="newItem">
                <div class="item-left" style="background-color:#f39c12">
                    <img src="/images/icon-thirdParty.png" width="50" height="50"/>
                </div>
                <div class="item-right">
                    <p class="item-title">新增第三方</p>
                    <p class="item-content">163</p>
                </div>
            </div>
        </div>
        <!--注册用户总数-->
        <h2 class="totalCount">52,156,236</h2>
        <!--区域统计-->
        <div id="rangeStatistic"></div>
        <div style="display: flex;">
            <!--功能使用情况统计-->
            <div id="functionUseAnalysis"></div>
            <div id="register">
                <h4 style="text-align: center;font-size: 18px;font-weight: bold;">实时注册情况表</h4>
                <p style="text-align: center;font-size: 16px;">日期：2017年04月03日</p>
                <table style="height: 400px;overflow: auto;">
                    <thead style="text-align: center;">
                    <tr>
                        <th>序号</th>
                        <th>注册账号</th>
                        <th>注册类型</th>
                        <th>注册时间</th>
                    </tr>
                    </thead>
                    <tbody style="text-align: center;">
                        <tr>
                            <td>01</td>
                            <td>alibaba@163.com</td>
                            <td>企业</td>
                            <td>2017年04月03日 07:22</td>
                        </tr>
                        <tr>
                            <td>02</td>
                            <td>18857110253</td>
                            <td>企业</td>
                            <td>2017年04月03日 07:48</td>
                        </tr>
                        <tr>
                            <td>03</td>
                            <td>18857110253</td>
                            <td>求职用户</td>
                            <td>2017年04月03日 08:02</td>
                        </tr>
                        <tr>
                            <td>04</td>
                            <td>18857110253</td>
                            <td>求职用户</td>
                            <td>2017年04月03日 08:09</td>
                        </tr>
                        <tr>
                            <td>05</td>
                            <td>18857110253</td>
                            <td>政府/学校</td>
                            <td>2017年04月03日 08:17</td>
                        </tr>
                        <tr>
                            <td>06</td>
                            <td>18857110253</td>
                            <td>企业</td>
                            <td>2017年04月03日 08:26</td>
                        </tr>
                        <tr>
                            <td>07</td>
                            <td>18857110253</td>
                            <td>求职用户</td>
                            <td>2017年04月03日 08:34</td>
                        </tr>
                        <tr>
                            <td>08</td>
                            <td>18857110253</td>
                            <td>企业</td>
                            <td>2017年04月03日 08:43</td>
                        </tr>
                        <tr>
                            <td>09</td>
                            <td>18857110253</td>
                            <td>企业</td>
                            <td>2017年04月03日 08:52</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>18857110253</td>
                            <td>求职用户</td>
                            <td>2017年04月03日 09:18</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
<!--JS-->
<%- include ../publicPages/script_content.ejs %>
<script src="/plugin/ecahrts/echarts.min.js"></script>
<script src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
<script src="/javascripts/home/home.js"></script>
</html>
