.addResume-wrapper{
    padding: 20px 10px 0 10px;
}
.form-addResume{
    margin-top: 20px;
    padding-right: 30px;
}
.module-title{
    font-size: 20px;
    text-align: center;
    margin-bottom: 12px;
}