/*导航*/
.breadcrumb-wrapper{
    padding: 20px 0 0 10px;
}
/*筛选条件*/
.filter-wrapper{
    padding-right: 30px;
    transition:transform 0.5s ease-out;
}
/*表格区域*/
.jobTable-wrapper{
    overflow: auto;
}
#jobList{
    min-width: 1600px;
}
.delete{
    margin-left: 6px;
}
/*分页*/
#page-wrapper{
    text-align: right;
}