#content_company{
    background:#F4F8FB;
}
#searchCompany{
    padding-top:60px;
    height: 120px;
    text-align: center;
}
#searchCompany input[type=text]{
    border: 2px solid #00BCD5;
    width: 480px;
    height: 30px;
    padding: 4px 10px;
    font-size: 16px;
}
#searchCompany input[type=button]{
    color: white;
    border-radius: 6px;
    background: #00BCD5;
}
#filterHeader{
    margin: 0 auto;
    width: 1000px;
    border: 1px solid #FAFAFA;
}
#filterHeader li{
    border-bottom: 1px solid #FFFFFF;
}
.filterItem{
    background: #FAFAFA;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    padding-left: 30px;
    text-align: left;
}
.filterItem span{
    padding: 4px 6px;
}

.filterItem i{
    background: #FFFFFF;
    padding: 2px 4px;
    margin-right: 6px;
}
.filterItem span:hover,#district span:hover{
    color: white;
    background: #00B38A;
    cursor: pointer;
}
#district{
    background: #FFFFFF;
    font-size: 16px;
    padding-left: 46px;
    text-align: left;
    display: none;
}
#district span{
    padding: 4px 6px;
}
#filterFoot {
    width: 1000px;
    margin: 30px auto 0;
}
#filterFoot label{
    font-weight: normal;
}
#companyFromFilter{
    width: 1000px;
    margin: 0 auto;
}
.companyItem{
    position: relative;
    background: #FFFFFF;
    border: 1px solid #ededed;
    margin-top: 14px;
    text-align: left;
    padding: 10px 0 0;
    font-size: 14px;
    color: #555555;
}
.companyLogo{
    position: absolute;
    top:6px;
    left: 6px;
    width: 120px;
    height: 120px;
    border: 1px solid #EDEDED;
}
.topItem,.middleItem,.bottomItem{
    margin-left: 132px;
    text-align: right;
}
.topItem{
    position: relative;
    padding-right: 20px;
}
.topItem a{
    position: absolute;
    top:0;
    left:0;
    font-size: 22px;
    color: #333;
}
.topItem a:hover{
    text-decoration: none;
    color:#00b38a;
}
.topItem span{
    font-size: 14px;
    margin-left: 8px;
}
.logo-company1{
    background: url("/images/companylogo1.png") no-repeat;
    background-size: 18px 18px;
    padding-left: 20px;
}
.logo-company2{
    background: url("/images/companylogo2.png") no-repeat;
    background-size: 18px 18px;
    padding-left: 20px;
}
.logo-company3{
    background: url("/images/companylogo3.png") no-repeat;
    background-size: 18px 18px;
    padding-left: 20px;
}
.middleItem{
    padding: 18px 20px;
}
.middleItem strong{
    font-size: 16px;
    color: #00b38a;
    margin-left: 12px;
}
.middleItem span{
    color: #555;
    margin-right: 6px;
}
.bottomItem{
    background: #fafafa;
    color: #666;
    line-height: 38px;
    padding-right: 10px;
}