/*导航*/
.breadcrumb-wrapper{
    padding: 20px 0 0 10px;
}
/*筛选条件*/
.filter-wrapper{
    padding-right: 30px;
}
/*控制筛选条件*/
.btn-slide-controll-wrapper{
    text-align: right;
    padding-right: 20px;
}
/*表格父级*/
.companyTable-wrapper{
    overflow: auto;
}
#companyList{
    width: 100%;
}
.delete{
    margin-left: 6px;
}
/*分页*/
#page-wrapper{
    text-align: right;
}